#header {
  height: 80px;
  background-color: rgb(10, 1, 91);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-inline-start: 50px;
  padding-bottom: 20px;
  border-radius: 10px;

  h1 {
    color: beige;
    font-family: Verdana, sans-serif;
  }
}
